header > * {
  display: flex;
  justify-content: center;
  text-align: center;
}

button {
  background-color: #20B2AAFF;
  border: 0;
  padding: 10px;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
}

button:hover {
  background-color: #1A9999FF
}

button:active {
  opacity: 0.7;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.buttons,
.results,
.scores {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.results {
  display: flex;
  flex-direction: column;
}

.scores>p:nth-child(1){
  border: 2px #000 solid;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
}

.scores {
  display: flex;
  flex-direction: column;
}